<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="ER Edit Meds test IF">
</app-header>
<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          Edit Meds test IF Details
        </h3>
      </div>
      <div id="flat-box" class="box-body">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form name="flatPanel" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
  <label class="col-md-3 control-label">
    MedicationCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ medication.medicationCode }}
  </div>
</div>
<input [(ngModel)]="medication.medicationDescription" name="medicationDescription" id="medicationDescription" type="hidden"/>

<div *ngIf="!add" class="form-group">
  <label for="medicationUnit" class="col-md-3 control-label">
    MedicationUnit
  </label>
  <div class="col-md-8 col-md-offset-8">
    <div class="input-group">
      <select [(ngModel)]="medication.medicationUnit" name="medicationUnit" id="medicationUnit" title="MedicationUnit" class="form-control">
        <option value="{{ operator.code }}" *ngFor="let operator of medicationUnit">
          {{ operator.description }}
        </option>
      </select>
    </div>
  </div>
</div>
<input [(ngModel)]="medication.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="medication.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="medication.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="medication.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="medication.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="medication.changedTime" name="changedTime" id="changedTime" type="hidden"/>

<div class="form-group">
  <label class="col-md-3 control-label">
    Amount
  </label>
  <div class="col-md-11 col-md-offset-8">
    {{ medication.amount }}
  </div>
</div>

                </fieldset>
                <div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
