<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="TRN Edit Prescriptions">
</app-header>


<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Edit Prescriptions</h3>
      </div>
      <div class="box-body" id="flat-box">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true"><div class="form-group">
  <label class="col-md-3 control-label">
    DoctorCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ prescription.doctorCode }}
  </div>
</div>
<div class="form-group">
  <label for="prescriptionCode" class="col-md-3 control-label">
    PrescriptionCode
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="17em" [(ngModel)]="prescription.prescriptionCode" name="prescriptionCode" id="prescriptionCode" placeholder="Prescription Code" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="prescriptionDate" class="col-md-3 control-label">
    PrescriptionDate
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <div class="input-group">
        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="prescription.prescriptionDate" [showIcon]="true" name="prescriptionDate">
        </p-calendar>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="prescriptionTime" class="col-md-3 control-label">
    PrescriptionTime
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <div class="input-group">
        <p-calendar [showTime]="true" [showSeconds]="true" [stepHour]="1" [(ngModel)]="prescription.prescriptionTime" [showIcon]="true" name="prescriptionTime" [stepMinute]="1" [timeOnly]="true">
        </p-calendar>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    PatientCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ prescription.patientCode }}
  </div>
</div>
<div class="form-group">
  <label for="diagnosisDate" class="col-md-3 control-label">
    DiagnosisDate
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <div class="input-group">
        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="prescription.diagnosisDate" [showIcon]="true" name="diagnosisDate">
        </p-calendar>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="diagnosisTime" class="col-md-3 control-label">
    DiagnosisTime
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <div class="input-group">
        <p-calendar [showTime]="true" [showSeconds]="true" [stepHour]="1" [(ngModel)]="prescription.diagnosisTime" [showIcon]="true" name="diagnosisTime" [stepMinute]="1" [timeOnly]="true">
        </p-calendar>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="doctorNotes" class="col-md-3 control-label">
    DoctorNotes
  </label>
  <div class="col-md-30 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="30" size="12em" [(ngModel)]="prescription.doctorNotes" name="doctorNotes" id="doctorNotes" placeholder="Doctor Notes" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    Numberoflines
  </label>
  <div class="col-md-5 col-md-offset-8">
    {{ prescription.usrNbrOfLines }}
  </div>
</div>
<input [(ngModel)]="prescription.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="prescription.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="prescription.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="prescription.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="prescription.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="prescription.changedTime" name="changedTime" id="changedTime" type="hidden"/>

<input [(ngModel)]="prescription.highestLineNumber" name="highestLineNumber" id="highestLineNumber" type="hidden"/>

<fieldset>
  <div class="box box-primary grid-box">
    <div class="box-body">
      <div class="row">
        <div class="col-xs-80">
          <div class="table-responsive">
            <app-grid-panel [data]="dialogData" (dialogEvent)="dialogEvent($event)">
            </app-grid-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
