<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="ER Edit to check If stmt">
</app-header>
<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          Edit Deposit (IF STMT)Details
        </h3>
      </div>
      <div id="flat-box" class="box-body">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form name="flatPanel" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
  <label class="col-md-3 control-label">
    PatientCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ patient.patientCode }}
  </div>
</div>
<input [(ngModel)]="patient.hospitalCode" name="hospitalCode" id="hospitalCode" type="hidden"/>

<input [(ngModel)]="patient.wardCode" name="wardCode" id="wardCode" type="hidden"/>

<input [(ngModel)]="patient.patientName" name="patientName" id="patientName" type="hidden"/>

<input [(ngModel)]="patient.patientSurname" name="patientSurname" id="patientSurname" type="hidden"/>

<input [(ngModel)]="patient.addressLine1" name="addressLine1" id="addressLine1" type="hidden"/>

<input [(ngModel)]="patient.addressLine2" name="addressLine2" id="addressLine2" type="hidden"/>

<input [(ngModel)]="patient.addressTownCity" name="addressTownCity" id="addressTownCity" type="hidden"/>

<input [(ngModel)]="patient.addressCountry" name="addressCountry" id="addressCountry" type="hidden"/>

<input [(ngModel)]="patient.addressPostalZipCode" name="addressPostalZipCode" id="addressPostalZipCode" type="hidden"/>

<input [(ngModel)]="patient.patientIdNumber" name="patientIdNumber" id="patientIdNumber" type="hidden"/>

<input [(ngModel)]="patient.patientDateOfBirth" name="patientDateOfBirth" id="patientDateOfBirth" type="hidden"/>

<input [(ngModel)]="patient.patientOccupation" name="patientOccupation" id="patientOccupation" type="hidden"/>

<input [(ngModel)]="patient.patientContactNumber" name="patientContactNumber" id="patientContactNumber" type="hidden"/>

<input [(ngModel)]="patient.patientGender" name="patientGender" id="patientGender" type="hidden"/>

<div *ngIf="!add" class="form-group">
  <label for="patientStatus" class="col-md-3 control-label">
    PatientStatus
  </label>
  <div class="col-md-8 col-md-offset-8">
    <div class="input-group">
      <select [(ngModel)]="patient.patientStatus" name="patientStatus" id="patientStatus" title="PatientStatus" class="form-control">
        <option value="{{ operator.code }}" *ngFor="let operator of patientStatus">
          {{ operator.description }}
        </option>
      </select>
    </div>
  </div>
</div>
<input [(ngModel)]="patient.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="patient.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="patient.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="patient.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="patient.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="patient.changedTime" name="changedTime" id="changedTime" type="hidden"/>

<div class="form-group">
  <label class="col-md-3 control-label">
    DepositAmount
  </label>
  <div class="col-md-11 col-md-offset-8">
    {{ patient.amount }}
  </div>
</div>

                </fieldset>
                <div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
