@import url("../../app.component.css");
body {
    margin: 0;
    color: #6a6f8c;
    background-color: rgba(109, 130, 187, 0.8);
    font: 600 16px/18px "Open Sans", sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

.login-wrap {
    width: 500px;
    margin: auto;
    min-height: 637px;
    position: relative;
    /* box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); */
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px 70px 50px 70px;
}

.login-html .sign-in-htm,
.login-html .help-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
}

.login-html .sign-in,
.login-html .help-tab,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .help-tab:checked+.tab {
    color: black;
    border-color: rgb(51, 124, 153);
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: block;
}

.ui-float-label input:focus {
    box-shadow: 0px 0px 0px transparent;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    background: rgba(120, 126, 120, 0.15);
    outline: 0;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: rgba(51, 112, 153, 0.8);
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(51, 153, 59, 0.15);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: "";
    width: 10px;
    height: 2px;
    background: rgb(0, 0, 0);
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
    color: rgb(0, 0, 0);
}

.login-form .group .check:checked+label .icon {
    background: rgba(51, 153, 59, 0.15);
}

.login-form .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.help-tab+.tab+.login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .help-tab:checked+.tab+.login-form .help-form {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(80, 212, 89, 0.2);
}

.foot-lnk {
    text-align: center;
}

.sign-in-htm .ui-float-label {
    margin-top: 25px;
}