<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
        <label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="help-tab">
        <label for="tab-2" class="tab"></label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group ui-float-label">
                    <input id="user" type="text" class="input" [(ngModel)]='model.username' pInputText>
                    <label for="user" class="label">Username</label>
                </div>
                <span class="group ui-float-label">
          <input id="pass" type="password" class="input" data-type="password" [(ngModel)]='model.password' pInputText>
          <label for="pass" class="label">Password</label>
        </span>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check">
            <span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign In" (click)="login()">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a>Forgot Password?</a>
                </div>
            </div>
            <div class="help-form">

            </div>

        </div>
    </div>
</div>