<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Select DR/Prescriptions">
</app-header>
<div>
  <p-dialog [closeOnEscape]="false" [(visible)]="visible" [closable]="false" modal="modal">
    <p-header>
      <div class="col-xs-14">
        Select DR/Prescriptions
      </div>
    </p-header>
    <p-table [columns]="cols" [paginator]="true" [(selection)]="mySelections" [selectionMode]="single" scrollHeight="600px" [rows]="2" [value]="gridVariable" [rowsPerPageOptions]="[2,3,5,10,20,30]">
      <ng-template let-columns pTemplate="header">
        <tr>
          <th style="width: 2.25em">
          </th>
          <th [pSortableColumn]="col.field" *ngFor="let col of columns">
            {{col.header}}
            <p-sortIcon [field]="col.field">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template let-rowData let-columns="columns" pTemplate="body">
        <tr [pSelectableRow]="rowData">
          <td>
            <p-tableRadioButton [value]="rowData">
            </p-tableRadioButton>
          </td>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">
          <button (click)="onSubmit(1)" type="button" class="btn btn-default">
            Ok
          </button>
          <button (click)="onSubmit(2)" type="button" class="btn btn-default">
            Cancel
          </button>
        </div>
      </ng-template>
    </p-table>
  </p-dialog>
  <p-dialog [(visible)]="displayNoSelection" (click)="displayNoSelection=false" header="Selection Required !!!" [modal]="true">
    <h4>
      Please select any record to process.
    </h4>
  </p-dialog>
</div>
