<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="PV Menu calls">
</app-header>


<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Menu For Hospital Detail</h3>
      </div>
      <div class="box-body" id="flat-box">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
<!-- DTL SCREEN RECORD LAYOUT -->
                <fieldset>
<input [(ngModel)]="medication.medicationCode" name="medicationCode" id="medicationCode" type="hidden"/>

<div class="form-group">
  <div>
    <label class="col-md-3">
      1. Edit Medication Detail
    </label>
  </div>
</div>
<div class="form-group">
  <div>
    <label class="col-md-3">
      2. Edit Hospital andWard Detail
    </label>
  </div>
</div>
<div class="form-group">
  <div>
    <label class="col-md-3">
      3. Edit Doctor Detail
    </label>
  </div>
</div>
<div class="form-group">
  <div>
    <label class="col-md-3">
      4. Edit Patient Detail
    </label>
  </div>
</div>
<div class="form-group">
  <div>
    <label class="col-md-3">
      5. Diagnosis and Prescription per Patient
    </label>
  </div>
</div>
<div class="form-group">
  <div>
    <label class="col-md-3">
      6. View All detail per Hospital
    </label>
  </div>
</div>
<div class="form-group">
  <div>
    <label class="col-md-3">
      7. Detail per Country, per Hospital
    </label>
  </div>
</div>
<div class="form-group">
  <div>
    <label class="col-md-3">
      8. Patient List perHospital
    </label>
  </div>
</div>
<div class="form-group">
  <div>
    <label class="col-md-3">
      9. Test a Batch Function
    </label>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="optionSelected" class="col-md-3 control-label">
    OptionSelected
  </label>
  <div class="col-md-5 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="1" [(ngModel)]="medication.optionSelected" name="optionSelected" style="width:15em" id="optionSelected" placeholder="Option Selected" type="number" class="form-control"/>
    </div>
  </div>
</div>
<input [(ngModel)]="medication.medicationDescription" name="medicationDescription" id="medicationDescription" type="hidden"/>

<input [(ngModel)]="medication.medicationUnit" name="medicationUnit" id="medicationUnit" type="hidden"/>

<input [(ngModel)]="medication.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="medication.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="medication.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="medication.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="medication.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="medication.changedTime" name="changedTime" id="changedTime" type="hidden"/>

</fieldset>
<!-- NAVIGATION KEYS -->
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
