<div class="row l-row c-header c-header__CirclesBg">
	<div class="col-md-25 c-header__Col">
		<h1 class="c-header__Branding">FRESCHE SOLUTIONS</h1>
	</div>
	<div class="col-md-55 c-header__Col">
		<ul class="l-horzList h-float__left">
			<li class="l-horzList__Item"><a class="c-header__QuickLink" href="#">Help</a>
			</li>
			<li class="l-horzList__Item">
				<p [ngClass]="publicBulletinDisable ? 'c-header__QuickLink--disabled' : 'c-header__QuickLink'">Public Bulletin</p>
			</li>
 			<li class="l-horzList__Item">
				<p [ngClass]=" frenchDisable ? 'c-header__QuickLink--disabled' : 'c-header__QuickLink' ">French</p>
			</li>
 		</ul>
	<div class="c-header__Info h-float__left">
		<div class="l-box--inline">
			<h1 class="c-header__Label">Company</h1>
			<p class="c-header__Value">20</p>
		</div>
		<div class="c-header__Divider"></div>
		<div class="l-box--inline">
			<h1 class="c-header__Label">District</h1>
			<p class="c-header__Value">20</p>
		</div>
	</div>
		<button [ngClass]="signoutDisable ? 'c-header__Action--disabled' : 'c-header__Action'" [disabled]="signoutDisable" (click)="signout()">Sign Out</button>
	</div>
</div>
<div class="row l-row">
	<div class="col-xs-50">
		<h4 class="c-task__Label">{{menuName}}</h4>
	</div>
	<div class="col-xs-27">
		<div class="c-infoBar--short">
			<div class="l-flexbox__Row">
			<p class="c-infoBar__Value">{{programName}}</p>
			</div>
		</div>
	</div>
</div>
