<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main"><app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="DSP Patients per Hospital">
</app-header>



    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Patients per Hospital</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel">
<div class="form-group">
  <label class="col-md-3 control-label">
    Country
  </label>
  <div class="col-md-3 col-md-offset-8">
    {{ patient.country }}
  </div>
</div>
<input [(ngModel)]="patient.returnCode" name="returnCode" id="returnCode" type="hidden"/>

<div class="form-group">
  <label class="col-md-3 control-label">
    Hospital
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ patient.hospitalCode }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    TelephoneNumber
  </label>
  <div class="col-md-15 col-md-offset-8">
    {{ patient.telephoneNumber }}
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="wardCode" class="col-md-3 control-label">
    WardCode
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="9em" [(ngModel)]="patient.wardCode" name="wardCode" id="wardCode" placeholder="Ward Code" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-md-9 col-md-offset-11">
    <div class="btn-group">
      <button (click)="onSubmit()" [disabled]="add" type="button" title="Filter" class="btn btn-primary">
        <i class="fa fa-filter">
        </i>
        Filter
      </button>
    </div>
  </div>
</div>
<fieldset>
  <div class="box box-primary grid-box">
    <div class="box-body">
      <div class="row">
        <div class="col-xs-80">
          <div class="table-responsive">
            <app-grid-panel [data]="dialogData" (dialogEvent)="dialogEvent($event)">
            </app-grid-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>
</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
