<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="ER Edit Hospital Change">
</app-header>
<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          Change Hospital Detail
        </h3>
      </div>
      <div id="flat-box" class="box-body">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form name="flatPanel" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
  <label class="col-md-3 control-label">
    HospitalCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ hospital.hospitalCode }}
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="hospitalName" class="col-md-3 control-label">
    HospitalName
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="13em" [(ngModel)]="hospital.hospitalName" name="hospitalName" id="hospitalName" placeholder="Hospital Name" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="addressStreet" class="col-md-3 control-label">
    StreetAddress
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="14em" [(ngModel)]="hospital.addressStreet" name="addressStreet" id="addressStreet" placeholder="Street Address" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="addressTown" class="col-md-3 control-label">
    Town
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="4em" [(ngModel)]="hospital.addressTown" name="addressTown" id="addressTown" placeholder="Town" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="addressProvince" class="col-md-3 control-label">
    StateProvCount
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="16em" [(ngModel)]="hospital.addressProvince" name="addressProvince" id="addressProvince" placeholder="State/Prov/Count" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="hospitalAddressCountry" class="col-md-3 control-label">
    HospitalAddressCountry
  </label>
  <div class="col-md-5 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="3" size="24em" [(ngModel)]="hospital.hospitalAddressCountry" name="hospitalAddressCountry" id="hospitalAddressCountry" placeholder="Hospital Address Country" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="addressPostZip" class="col-md-3 control-label">
    PostalorZipCode
  </label>
  <div class="col-md-11 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="8" size="18em" [(ngModel)]="hospital.addressPostZip" name="addressPostZip" id="addressPostZip" placeholder="Postal or Zip Code" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="country" class="col-md-3 control-label">
    Country
  </label>
  <div class="col-md-8 col-md-offset-8">
    <div class="input-group">
      <select [(ngModel)]="hospital.country" name="country" id="country" title="Country" class="form-control">
        <option value="{{ operator.code }}" *ngFor="let operator of country">
          {{ operator.description }}
        </option>
      </select>
    </div>
  </div>
</div>
<input [(ngModel)]="hospital.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="hospital.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="hospital.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="hospital.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="hospital.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="hospital.changedTime" name="changedTime" id="changedTime" type="hidden"/>

<div *ngIf="!add" class="form-group">
  <label for="telephoneNumber" class="col-md-3 control-label">
    TelephoneNumber
  </label>
  <div class="col-md-15 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="15" [(ngModel)]="hospital.telephoneNumber" name="telephoneNumber" style="width:16em" id="telephoneNumber" placeholder="Telephone Number" type="number" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="faxNumber" class="col-md-3 control-label">
    FaxNumber
  </label>
  <div class="col-md-15 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="15" [(ngModel)]="hospital.faxNumber" name="faxNumber" style="width:10em" id="faxNumber" placeholder="Fax Number" type="number" class="form-control"/>
    </div>
  </div>
</div>

                </fieldset>
                <div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
