<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="PMT Prompt detail display">
</app-header>


<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Display Hospital Detail</h3>
      </div>
      <div class="box-body" id="flat-box">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
<!-- DTL SCREEN RECORD LAYOUT -->
                <fieldset>
<div *ngIf="!add" class="form-group">
  <label for="hospitalCode" class="col-md-3 control-label">
    HospitalCode
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="13em" [(ngModel)]="hospital.hospitalCode" name="hospitalCode" id="hospitalCode" placeholder="Hospital Code" type="text" class="form-control" required/>
      <app-function-key-panel [keys]="searchParams">
      </app-function-key-panel>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    HospitalName
  </label>
  <div class="col-md-25 col-md-offset-8">
    {{ hospital.hospitalName }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    HospitalAddressStreet
  </label>
  <div class="col-md-25 col-md-offset-8">
    {{ hospital.addressStreet }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    HospitalAddressTown
  </label>
  <div class="col-md-25 col-md-offset-8">
    {{ hospital.addressTown }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    HospitalAddressProvince
  </label>
  <div class="col-md-25 col-md-offset-8">
    {{ hospital.addressProvince }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    HospitalAddressPostZip
  </label>
  <div class="col-md-8 col-md-offset-8">
    {{ hospital.addressPostZip }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    HospitalTelephoneNumber
  </label>
  <div class="col-md-15 col-md-offset-8">
    {{ hospital.telephoneNumber }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    HospitalFaxNumber
  </label>
  <div class="col-md-15 col-md-offset-8">
    {{ hospital.faxNumber }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    HospitalCountry
  </label>
  <div class="col-md-3 col-md-offset-8">
    {{ hospital.country }}
  </div>
</div>
<input [(ngModel)]="hospital.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="hospital.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="hospital.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="hospital.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="hospital.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="hospital.changedTime" name="changedTime" id="changedTime" type="hidden"/>

</fieldset>
<!-- NAVIGATION KEYS -->
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
