<div class="col-md-16 margin" *ngFor="let functionKey of keys">
        <a *ngIf="functionKey.display && functionKey.signal!=='funKey04'" [ngClass]="'c-task__Link ' + functionKey.id " appFunKey='{{functionKey.id}}' [ngStyle]="functionKey.btnStyle" appSignal='{{functionKey.signal}}'  cmdKey="{{functionKey.cmdKey}}">{{functionKey.btnTitle}}</a>       
        <button *ngIf="functionKey.signal==='funKey04'" type="button" title="Filter" class="btn btn-xs btn-primary" appFunKey='{{functionKey.id}}' [ngStyle]="functionKey.btnStyle" appSignal='{{functionKey.signal}}'  cmdKey="{{functionKey.cmdKey}}"><i class="fa fa-search"></i></button>        
</div>