<p-table #tt [(value)]="data.data" [columns]="data.columns" [totalRecords]="data.totalRecords" [autoLayout]="true" [selectionMode]="data.selectionMode=='single'?single:multiple"
    [(selection)]="mySelections" [paginator]="data.tablePaginator" [rows]="data.rowsDisplayed" (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)" [scrollable]="true" [rowsPerPageOptions]="[5,10,30,30]" scrollHeight="600px" [lazy]="true"
    (onLazyLoad)="getPage($event)">
    <ng-template pTemplate="caption" *ngIf="data.isDownload && data.selectionMode=='multiple'">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="tt.exportCSV()" style="float:left"></button>
            <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="tt.exportCSV({selectionOnly:true})"
                style="float:right"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3.35em" *ngIf="data.selectionMode!='none'"></th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngIf="data.selectionMode==='single'" style="width: 3.35em">
                <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td>
            <td *ngIf="data.selectionMode==='multiple'" style="width: 3.35em">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>

            <td *ngFor="let col of columns;" pEditableColumn>
                <p-cellEditor>

                    <div *ngIf="!col.editable" style="color:black">
                        <ng-template pTemplate="input" style="color:black">
                            {{rowData[col.field]}}
                        </ng-template>
                    </div>
                    <div *ngIf="col.editable">
                        <ng-template pTemplate="input" *ngIf="!col.isDropDown">
                            <input style="width:100px" type="text" style="color:black" [(ngModel)]="rowData[col.field]" [disabled]="col.isReadOnly || col.openPopModel">
                            <button style="width:100px" type="button" *ngIf="col.openPopModel" (click)="openPopModel(rowIndex,col.field)" class="prompt btn btn-sm">
                                <i class="fa fa-arrow-circle-down"></i>
                            </button>
                        </ng-template>
                        <ng-template pTemplate="input" *ngIf="col.isDropDown">
                            <select style="width:130px" id="rowData[col.field]-rowIndex" (change)="changeValue(selectDropDownItem[rowIndex],rowIndex,col.field)"
                                [ngModelOptions]="{standalone: true}" class="hideLabel form-control" [(ngModel)]="selectDropDownItem[rowIndex]">
                                <option [ngValue]="k" *ngFor="let k of data.dropDownItems">
                                    {{ k.description }}
                                </option>
                            </select>
                        </ng-template>
                    </div>
                    <ng-template pTemplate="output" style="color:black">
                        <div *ngIf="col.isDropDown">
                            <select style="width:130px" [ngModelOptions]="{standalone: true}" class="hideLabel form-control" [(ngModel)]="selectDropDownItem[rowIndex]">
                                <option [ngValue]="k" *ngFor="let k of data.dropDownItems">
                                    {{ k.description }}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="!col.isDropDown">
                            {{rowData[col.field]}}
                            <button style="width:25px" type="button" *ngIf="col.openPopModel" (click)="openPopModel(rowIndex,col.field)" class="prompt btn btn-sm">
                                <i class="fa fa-arrow-circle-down"></i>
                            </button>
                        </div>
                    </ng-template>

                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>