<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Edit Doctor RCD">
</app-header>
<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          Edit Doctor Details
        </h3>
      </div>
      <div id="flat-box" class="box-body">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form name="flatPanel" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
  <label class="col-md-3 control-label">
    DoctorCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ doctor.doctorCode }}
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="hospitalCode" class="col-md-3 control-label">
    HospitalCode
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="13em" [(ngModel)]="doctor.hospitalCode" name="hospitalCode" id="hospitalCode" placeholder="Hospital Code" type="text" class="form-control" required/>
      <app-function-key-panel [keys]="searchParams">
      </app-function-key-panel>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="supervisingDoctorDoctor" class="col-md-3 control-label">
    SupervisingDoctorDoctor
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="25em" [(ngModel)]="doctor.supervisingDoctorDoctor" name="supervisingDoctorDoctor" id="supervisingDoctorDoctor" placeholder="Supervising Doctor Doctor" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="doctorName" class="col-md-3 control-label">
    DoctorName
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="11em" [(ngModel)]="doctor.doctorName" name="doctorName" id="doctorName" placeholder="Doctor Name" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="doctorContactNumber" class="col-md-3 control-label">
    DoctorContactNumber
  </label>
  <div class="col-md-15 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="15" [(ngModel)]="doctor.doctorContactNumber" name="doctorContactNumber" style="width:21em" id="doctorContactNumber" placeholder="Doctor Contact Number" type="number" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="specialityLevel" class="col-md-3 control-label">
    SpecialityLevel
  </label>
  <div class="col-md-8 col-md-offset-8">
    <div class="input-group">
      <select [(ngModel)]="doctor.specialityLevel" name="specialityLevel" id="specialityLevel" title="SpecialityLevel" class="form-control">
        <option value="{{ operator.code }}" *ngFor="let operator of specialityLevel">
          {{ operator.description }}
        </option>
      </select>
    </div>
  </div>
</div>
<input [(ngModel)]="doctor.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="doctor.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="doctor.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="doctor.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="doctor.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="doctor.changedTime" name="changedTime" id="changedTime" type="hidden"/>


                </fieldset>
                <div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
