<div ckass="row">
  <div class="col-md-80">
    <form class="form-horizontal" [formGroup]="myform" novalidate (ngSubmit)="onFormSubmit()">
      <div class="c-form">
        <fieldset class="container-fluid">
          <div class="form-group" *ngFor="let rowContent of formContentsSorted">
              <app-rmi-field [formGroup]="myform" [fieldParam]="row" *ngFor="let row of rowContent"></app-rmi-field>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
</div>
