<div class="container c-footer c-footer__CirclesBg">
		<div class="row">
			<div class="col-xs-20 pull-right">
				<label class="vnum pull-right">Build:{{buildNumber}}</label>
			</div>
			<div class="col-xs-40 pull-left">
			</div>
		</div>
	</div>