<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="EDTRCD Edit Diagnosis">
</app-header>
<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          Diagnosis Key
        </h3>
      </div>
      <div id="flat-box" class="box-body">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form name="keyPanel" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
  <label class="col-md-3 control-label">
    PatientCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ diagnosis.patientCode }}
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="diagnosisDate" class="col-md-3 control-label">
    DiagnosisDate
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <div class="input-group">
        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="diagnosis.diagnosisDate" [showIcon]="true" name="diagnosisDate">
        </p-calendar>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="diagnosisTime" class="col-md-3 control-label">
    DiagnosisTime
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <div class="input-group">
        <p-calendar [showTime]="true" [showSeconds]="true" [stepHour]="1" [(ngModel)]="diagnosis.diagnosisTime" [showIcon]="true" name="diagnosisTime" [stepMinute]="1" [timeOnly]="true">
        </p-calendar>
      </div>
    </div>
  </div>
</div>

                </fieldset>
                <div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
