<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="EDTRCD Edit Diagnosis">
</app-header>
<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          Edit Diagnosis Details
        </h3>
      </div>
      <div id="flat-box" class="box-body">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form name="flatPanel" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
  <label class="col-md-3 control-label">
    PatientCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ diagnosis.patientCode }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    DiagnosisDate
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ diagnosis.diagnosisDate }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    DiagnosisTime
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ diagnosis.diagnosisTime }}
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="doctorCode" class="col-md-3 control-label">
    DoctorCode
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="11em" [(ngModel)]="diagnosis.doctorCode" name="doctorCode" id="doctorCode" placeholder="Doctor Code" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="findings1" class="col-md-3 control-label">
    Findings1
  </label>
  <div class="col-md-30 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="30" size="10em" [(ngModel)]="diagnosis.findings1" name="findings1" id="findings1" placeholder="Findings 1" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="findings2" class="col-md-3 control-label">
    Findings2
  </label>
  <div class="col-md-30 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="30" size="10em" [(ngModel)]="diagnosis.findings2" name="findings2" id="findings2" placeholder="Findings 2" type="text" class="form-control"/>
    </div>
  </div>
</div>
<input [(ngModel)]="diagnosis.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="diagnosis.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="diagnosis.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="diagnosis.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="diagnosis.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="diagnosis.changedTime" name="changedTime" id="changedTime" type="hidden"/>


                </fieldset>
                <div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
