<div class="l-page">
    <a id="top"></a>
    <div class="container c-Main">
        <router-outlet></router-outlet>
    </div>
</div>
<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>