<div class="l-page">
    <a id="top"></a>
    <div class="container c-Main">

        <!-- App Header -->
        <!--     <app-header [signoutDisable]="true" [frenchDisable]="true" [publicBulletinDisable]="true" previous="/QuoteOrderMenu" menuName="Page Not Found."
      programName="Error Code: 404" [previousDisplay]="false">
    </app-header> -->
        <!-- ----------  -->

        <div class="row l-row">
            <div class="col-md-80">
                <div class="c-form">
                    <label>The requested page: {{currentURL}} does not exist.</label>
                    <label>-Please go to the Main Menu by clicking below or pressing F2.
            <br> -To go to the previous page, click below or press F1.</label>
                    <div class="buttons">
                        <button pButton type="button" icon="fa-arrow-left" iconPos="left" label="Previous" (click)="goToPrevious()"></button>
                        <button pButton type="button" icon="fa-home" iconPos="left" label="Main Menu" (click)="goToMainMenu()"></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 
  <app-footer></app-footer> -->
</div>