<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="PMT Diagnosis & Prescrip">
</app-header>


<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Load Diagnosis &amp; Prescription</h3>
      </div>
      <div class="box-body" id="flat-box">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
<!-- DTL SCREEN RECORD LAYOUT -->
                <fieldset>
<div *ngIf="!add" class="form-group">
  <label for="patientCode" class="col-md-3 control-label">
    PatientCode
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="12em" [(ngModel)]="patient.patientCode" name="patientCode" id="patientCode" placeholder="Patient Code" type="text" class="form-control" required/>
      <app-function-key-panel [keys]="searchParams">
      </app-function-key-panel>
    </div>
  </div>
</div>
<input [(ngModel)]="patient.patientName" name="patientName" id="patientName" type="hidden"/>

<input [(ngModel)]="patient.hospitalCode" name="hospitalCode" id="hospitalCode" type="hidden"/>

<input [(ngModel)]="patient.wardCode" name="wardCode" id="wardCode" type="hidden"/>

<input [(ngModel)]="patient.patientSurname" name="patientSurname" id="patientSurname" type="hidden"/>

<input [(ngModel)]="patient.addressLine1" name="addressLine1" id="addressLine1" type="hidden"/>

<input [(ngModel)]="patient.addressLine2" name="addressLine2" id="addressLine2" type="hidden"/>

<input [(ngModel)]="patient.addressTownCity" name="addressTownCity" id="addressTownCity" type="hidden"/>

<input [(ngModel)]="patient.addressCountry" name="addressCountry" id="addressCountry" type="hidden"/>

<input [(ngModel)]="patient.addressPostalZipCode" name="addressPostalZipCode" id="addressPostalZipCode" type="hidden"/>

<input [(ngModel)]="patient.patientIdNumber" name="patientIdNumber" id="patientIdNumber" type="hidden"/>

<input [(ngModel)]="patient.patientDateOfBirth" name="patientDateOfBirth" id="patientDateOfBirth" type="hidden"/>

<input [(ngModel)]="patient.patientOccupation" name="patientOccupation" id="patientOccupation" type="hidden"/>

<input [(ngModel)]="patient.patientContactNumber" name="patientContactNumber" id="patientContactNumber" type="hidden"/>

<input [(ngModel)]="patient.patientGender" name="patientGender" id="patientGender" type="hidden"/>

<input [(ngModel)]="patient.patientStatus" name="patientStatus" id="patientStatus" type="hidden"/>

<input [(ngModel)]="patient.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="patient.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="patient.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="patient.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="patient.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="patient.changedTime" name="changedTime" id="changedTime" type="hidden"/>

</fieldset>
<!-- NAVIGATION KEYS -->
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
