<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="PMT Hospitals per Country">
</app-header>


<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Display Hospitals per Country</h3>
      </div>
      <div class="box-body" id="flat-box">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
<!-- DTL SCREEN RECORD LAYOUT -->
                <fieldset>
<input [(ngModel)]="hospital.hospitalCode" name="hospitalCode" id="hospitalCode" type="hidden"/>

<input [(ngModel)]="hospital.hospitalName" name="hospitalName" id="hospitalName" type="hidden"/>

<input [(ngModel)]="hospital.addressStreet" name="addressStreet" id="addressStreet" type="hidden"/>

<input [(ngModel)]="hospital.addressTown" name="addressTown" id="addressTown" type="hidden"/>

<input [(ngModel)]="hospital.addressProvince" name="addressProvince" id="addressProvince" type="hidden"/>

<input [(ngModel)]="hospital.addressPostZip" name="addressPostZip" id="addressPostZip" type="hidden"/>

<input [(ngModel)]="hospital.telephoneNumber" name="telephoneNumber" id="telephoneNumber" type="hidden"/>

<input [(ngModel)]="hospital.faxNumber" name="faxNumber" id="faxNumber" type="hidden"/>

<div *ngIf="!add" class="form-group">
  <label for="country" class="col-md-3 control-label">
    SelectCountry
  </label>
  <div class="col-md-8 col-md-offset-8">
    <div class="input-group">
      <select [(ngModel)]="hospital.country" name="country" id="country" title="SelectCountry" class="form-control">
        <option value="{{ operator.code }}" *ngFor="let operator of country">
          {{ operator.description }}
        </option>
      </select>
    </div>
  </div>
</div>
<input [(ngModel)]="hospital.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="hospital.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="hospital.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="hospital.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="hospital.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="hospital.changedTime" name="changedTime" id="changedTime" type="hidden"/>

</fieldset>
<!-- NAVIGATION KEYS -->
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
