<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="EDR Edit Patient Detail R">
</app-header>
<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          EDR Edit Patient Detail R KEY SCREEN
        </h3>
      </div>
      <div id="flat-box" class="box-body">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form name="keyPanel" class="form-horizontal">
                <fieldset>
                  <div *ngIf="!add" class="form-group">
  <label for="patientCode" class="col-md-3 control-label">
    PatientCode
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="12em" [(ngModel)]="patient.patientCode" name="patientCode" id="patientCode" placeholder="Patient Code" type="text" class="form-control" required/>
      <app-function-key-panel [keys]="searchParams">
      </app-function-key-panel>
    </div>
  </div>
</div>

                </fieldset>
                <div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
