<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="EDR Edit Patient Detail">
</app-header>
<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          Edit Patient Details
        </h3>
      </div>
      <div id="flat-box" class="box-body">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form name="flatPanel" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
  <label class="col-md-3 control-label">
    PatientCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ patient.patientCode }}
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="hospitalCode" class="col-md-3 control-label">
    HospitalCode
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="13em" [(ngModel)]="patient.hospitalCode" name="hospitalCode" id="hospitalCode" placeholder="Hospital Code" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="wardCode" class="col-md-3 control-label">
    WardCode
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="6" size="9em" [(ngModel)]="patient.wardCode" name="wardCode" id="wardCode" placeholder="Ward Code" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="patientName" class="col-md-3 control-label">
    PatientName
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="12em" [(ngModel)]="patient.patientName" name="patientName" id="patientName" placeholder="Patient Name" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="patientSurname" class="col-md-3 control-label">
    PatientSurname
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="15em" [(ngModel)]="patient.patientSurname" name="patientSurname" id="patientSurname" placeholder="Patient Surname" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="addressLine1" class="col-md-3 control-label">
    PatientAddress
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="15em" [(ngModel)]="patient.addressLine1" name="addressLine1" id="addressLine1" placeholder="Patient Address" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="addressLine2" class="col-md-3 control-label">
    PatientAddress
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="15em" [(ngModel)]="patient.addressLine2" name="addressLine2" id="addressLine2" placeholder="Patient Address" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="addressTownCity" class="col-md-3 control-label">
    TownCity
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="9em" [(ngModel)]="patient.addressTownCity" name="addressTownCity" id="addressTownCity" placeholder="Town/City" type="text" class="form-control"/>
    </div>
  </div>
</div>
<input [(ngModel)]="patient.addressCountry" name="addressCountry" id="addressCountry" type="hidden"/>

<div *ngIf="!add" class="form-group">
  <label for="addressPostalZipCode" class="col-md-3 control-label">
    AddressPostalZipCode
  </label>
  <div class="col-md-11 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="8" size="23em" [(ngModel)]="patient.addressPostalZipCode" name="addressPostalZipCode" id="addressPostalZipCode" placeholder="Address Postal/Zip Code" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="patientIdNumber" class="col-md-3 control-label">
    PatientIDNumber
  </label>
  <div class="col-md-15 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="15" [(ngModel)]="patient.patientIdNumber" name="patientIdNumber" style="width:17em" id="patientIdNumber" placeholder="Patient ID Number" type="number" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="patientDateOfBirth" class="col-md-3 control-label">
    PatientDateOfBirth
  </label>
  <div class="col-md-9 col-md-offset-8">
    <div class="input-group">
      <div class="input-group">
        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="patient.patientDateOfBirth" [showIcon]="true" name="patientDateOfBirth">
        </p-calendar>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="patientOccupation" class="col-md-3 control-label">
    PatientOccupation
  </label>
  <div class="col-md-25 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="25" size="18em" [(ngModel)]="patient.patientOccupation" name="patientOccupation" id="patientOccupation" placeholder="Patient Occupation" type="text" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="patientContactNumber" class="col-md-3 control-label">
    PatientContactNumber
  </label>
  <div class="col-md-15 col-md-offset-8">
    <div class="input-group">
      <input [maxLength]="15" [(ngModel)]="patient.patientContactNumber" name="patientContactNumber" style="width:22em" id="patientContactNumber" placeholder="Patient Contact Number" type="number" class="form-control"/>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="patientGender" class="col-md-3 control-label">
    PatientGender
  </label>
  <div class="col-md-8 col-md-offset-8">
    <div class="input-group">
      <select [(ngModel)]="patient.patientGender" name="patientGender" id="patientGender" title="PatientGender" class="form-control">
        <option value="{{ operator.code }}" *ngFor="let operator of patientGender">
          {{ operator.description }}
        </option>
      </select>
    </div>
  </div>
</div>
<div *ngIf="!add" class="form-group">
  <label for="patientStatus" class="col-md-3 control-label">
    PatientStatus
  </label>
  <div class="col-md-8 col-md-offset-8">
    <div class="input-group">
      <select [(ngModel)]="patient.patientStatus" name="patientStatus" id="patientStatus" title="PatientStatus" class="form-control">
        <option value="{{ operator.code }}" *ngFor="let operator of patientStatus">
          {{ operator.description }}
        </option>
      </select>
    </div>
  </div>
</div>
<input [(ngModel)]="patient.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="patient.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="patient.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="patient.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="patient.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="patient.changedTime" name="changedTime" id="changedTime" type="hidden"/>


                </fieldset>
                <div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
