<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="DSP Doctor Detail">
</app-header>
<div class="row">
  <section class="col-md-80 connectedSortable">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          Display Doctor Detail
        </h3>
      </div>
      <div id="flat-box" class="box-body">
        <div class="col-md-offset-0">
          <div class="row">
            <div class="col-md-80">
              <form name="flatPanel" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
  <label class="col-md-3 control-label">
    DoctorCode
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ doctor.doctorCode }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    DoctorName
  </label>
  <div class="col-md-25 col-md-offset-8">
    {{ doctor.doctorName }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    DoctorContactNumber
  </label>
  <div class="col-md-15 col-md-offset-8">
    {{ doctor.doctorContactNumber }}
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label">
    SpecialityLevel
  </label>
  <div class="col-md-3 col-md-offset-8">
    {{ doctor.specialityLevel }}
  </div>
</div>
<input [(ngModel)]="doctor.addedUser" name="addedUser" id="addedUser" type="hidden"/>

<input [(ngModel)]="doctor.addedDate" name="addedDate" id="addedDate" type="hidden"/>

<input [(ngModel)]="doctor.addedTime" name="addedTime" id="addedTime" type="hidden"/>

<input [(ngModel)]="doctor.changedUser" name="changedUser" id="changedUser" type="hidden"/>

<input [(ngModel)]="doctor.changedDate" name="changedDate" id="changedDate" type="hidden"/>

<input [(ngModel)]="doctor.changedTime" name="changedTime" id="changedTime" type="hidden"/>

<input [(ngModel)]="doctor.hospitalCode" name="hospitalCode" id="hospitalCode" type="hidden"/>

<div class="form-group">
  <label class="col-md-3 control-label">
    SupervisingDoctorDetail
  </label>
  <div class="col-md-6 col-md-offset-8">
    {{ doctor.supervisingDoctorDoctor }}
  </div>
</div>

                </fieldset>
                <div class="btn-group">
  <app-function-key-panel [keys]="funcParams">
  </app-function-key-panel>
</div>
<div class="btn-group">
  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
  </app-enter-key>
</div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
